{% load i18n avatar_tags %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="favicon.ico">
<title>Bookings</title>
<link href="{{ STATIC_URL }}font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="{{ STATIC_URL }}style_publishing/css/research_base.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}carousel/css/layerslider.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}style_adesur/css/assets.min_custom.css" rel="stylesheet"/>
<link href="{{ STATIC_URL }}social/bootstrap-social.css" rel="stylesheet"/>
</head>

{% block header %}
<!-- topbar -->
<nav id="topbar">
	<div class="container">
		<div class="row">
			<div align="center" class="col-xs-7 col-sm-9" style="padding: 0px 10px;">
                <!--
				<div style=" display: inline-block; margin-right: 12px;">IDEGeo</div>
				<a href="{% url 'home' %}" style="margin-left: 12px;">Catálogo Geoespacial</a>
				<!--<a href="#" style="margin-left: 12px;">Otro link</a>-->
			</div>
			<div class="col-xs-3 col-sm-3 pull-right" style="padding: 0px 10px 0px 0px;">
				{% if user.is_authenticated %}
					<a href="#" data-toggle="modal" data-target="#UserModal" role="button" aria-expanded="false">
						<span class="navbar-r">{% avatar user 20 %} {{ user.username }}</span>
					</a>
				{% else %}
				<a href="#" data-toggle="modal" data-target="#SigninModal" role="button"><i class="fa fa-user" title="{% trans 'Sign in' %}"></i></a>
				{% endif %}
			</div>
		</div>
	</div>
</nav>
<!-- header -->
<header id="header">
	<div class="header-logos">
		<div class="container">
			<div align="center" class="head-sitename">
				<!--<h1><span class="span-nowrap">&quot;Servicios de Información Geoespacial&quot;</span> <span class="span-break">Plataforma Geoweb<b> IDEGEO</b></span><span class="span-nowrap"></span></h1>-->
				<h1><span class="span-nowrap">Bookings</span>
                    <span class="span-break"><i>Welcome</i></span><span class="span-nowrap"></span>
                </h1>
			</div>
		</div>
	</div>
	<div class="header-navigation">
		<div class="container">
			<ul class="main-nav">
				<li role="navigation"><a href="{% url 'list' %}">Home</a></li>
			</ul>
            {% if request.user.is_authenticated %}
            <ul class="main-nav pull-right">
                <li id="share-storymap" role="navigation" style="display:none"><a href="{% url 'upload_narrative' 0 %}" >Compartir Storymap</a></li>
            </ul>
            {% else %}
            <ul class="main-nav pull-right">
                <li id="share-storymap" role="navigation" style="display:none">
                    <a href="#" data-submenu="#submenuLogin">Compartir Storymap</a>
                        <div id="submenuLogin" class="m-header-submenu -default -right -login">
                            <label style="font-weight: 500; font-size: 12px;">El inicio de sesión es necesario para poder ver, administrar y borrar historias.</label>
                            <div align="center" style="width:80%; margin: 0 auto; padding:10px 0 20px 0;">
                                <label>Iniciar Sesión con:</label><br>
                                <a href="{% url 'social:begin' 'facebook' %}?next={% url 'upload_narrative' 0 %}" class="btn btn-block btn-social btn-twitter">
                                    <span class="fa fa-facebook"></span> Facebook
                                </a>
                                <!--
                                <a class="btn btn-block btn-social btn-google">
                                    <span class="fa fa-google"></span> Google
                                </a>
                                -->
                            </div>
                            <label style="font-weight: 700; font-size: 12px;">Si ya tienes usuario y contraseña haz clic
                                <a href="#" data-toggle="modal" data-target="#SigninModal">aquí</a>.
                                Click <a href="{% url 'account_signup' %}" style="color: #089fcf;">aquí</a> para registrarte con email.
                            </label>
                            <br><br>
                        </div>
                </li>
            </ul>
            {% endif %}
		</div>
	</div>
</header>
{% endblock header %}

<body>
<!-- content -->
<div class="container">
	<div class="row">
		<!--content-main-->
		<div id="cnt-main" class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
			<div id="wrap">
				{% block middle %}
				<!-- <div class="container"> -->
				{% block body_outer %}
				{% block body %}{% endblock %}
				<div class="col-md-4">
					{% block sidebar %}{% endblock %}
				</div>
				{% endblock %}
				<!-- </div> -->
				{% endblock middle %}
			</div>
		</div>
	</div>
</div>


{% block footer %}
<!-- footer -->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<div class="footer-logos">
					<p class="footer-logo"><a href="https://krisleon99.github.io/portfolio/" target="_blank" title="@krisleon99"><span class="span-break">Christian León ÁLVAREZ</span></a></p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<div class="footer-navigation">
					<ul class="footer-nav">
						<li class="active"><a href="#">Aviso de privacidad</a></li>
						<li><a href="#">Contacto</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
{% endblock footer %}
{% block extra_script %}
<!-- scripts -->
<script src="{{ STATIC_URL }}lib/js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock extra_script %}
</body>
</html>
