{% extends "base_book.html" %}
{% load bootstrap_tags %}

{% block title %} Micro Sitio {% endblock %}

{% block head %}
  {{ block.super }}
{% endblock %}

{% block body_class %}microSite{% endblock %}

{% block body_outer %}
<!--HEADER-TITULO-->
<div id="page-header" class="content">
	<div class="container">
		<div class="titulo-blk-row">
			<div class="titulo-img blk-cell"><img src="{{STATIC_URL}}carousel/images/ico22_lineas-trabajo.png" alt=""></div>
			  <div class="titulo-txt blk-cell">
				  <h2>{{book}} Total: ${{total}}</h2>
			  </div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6" id="general">

			<form id="formulario" method="post" enctype="multipart/form-data" action="">{% csrf_token %}
				{{ form.media }}
				{{form|as_bootstrap}}
				 <p><input type="submit" class="btn btn-primary" value="Book"></p>
			</form>
		</div>
	</div>
</div>
{% endblock %}
